SERVER_HEADER=ApiMicroservice
APP_NAME=classplanner
APP_URL=http://localhost    #required for cors
APP_ENV=development
APP_ENV=production

# static files (pfp, documents, etc.)
UPLOADS_PATH="./uploads"
UPLOADS_URL="/uploads"

# middleware
ALLOW_ORIGINS="http://localhost:5173,http://localhost:5173/" # CORS, should be CS
ENABLE_CSRF=false
# ALLOW_ORIGINS="*" # WARNING, allow credentials should be false
MW_LOGGER_PATH=logs/http.log    #middleware for fiber

# loggers
LOGGER_PATH=logs/app.log    #middleware for fiber

# database
DATABASE_USER=classplanner_admin
DATABASE_PASSWORD=classplanner_admin
DATABASE_DATABASE=classplanner
DATABASE_SSL=disable

# migrations
MIGRATIONS_FOLDER="./migrations"
MIGRATIONS_VERSION="./migrations/version"
MIGRATIONS_FILE="models"
